.is {
  &-uppercase {
    text-transform: uppercase;
  }

  &-semibold {
    font-weight: 600;
  }
}

.has-text-underline {
  text-decoration: underline;
}

.has-border-underline {
  border-bottom: solid 0.25rem;
}

.has-highlighted-underline {
  border-bottom: solid 0.25rem $primary-color;
}
