.title {
  display: inline-block;
  font-weight: $title-weight;
  margin-bottom: 0.75em;

  @each $title, $title-size in $titles {
    &--is-#{$title} {
      font-size: px-to-rem($title-size);
    }
  }
}
