<<<<<<< HEAD
$base-font-size: 16px !default;
$base-font-stack: BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

$hero-size: 60px;
$hero-weight: 700;

$title-weight: 600;

$title-size-1: 48px;
$title-size-2: 40px;
$title-size-3: 32px;
$title-size-4: 24px;

$titles: (
  1: $title-size-1,
  2: $title-size-2,
  3: $title-size-3,
  4: $title-size-4
);
=======
$base-font-size: px-to-rem(16px) !default;
$base-font-stack: 'Helvetica Neue', Helvetica, Arial, sans-serif !default;
>>>>>>> 8e5f8b3ad416128f20f95bfc7e84eff6e9b99b68
