html,
body {
  font-family: $base-font-stack;
  font-size: $base-font-size;
  margin: 0;
  padding: 0;
}

.hero {
  font-size: $hero-size;
  font-weight: $hero-weight;
}

.title {
  font-weight: $title-weight;
  margin-bottom: 0.75em;

  @each $title, $title-size in $titles {
    &--is-#{$title} {
      font-size: px-to-rem($title-size);
    }
  }
}

.is-uppercase {
  text-transform: uppercase;
}

.has-text-underline {
  text-decoration: underline;
}

.has-border-underline {
  border-bottom: solid 0.25rem;
}

.has-highlighted-underline {
  border-bottom: solid 0.25rem $primary-color;
}
