.container {
  margin: 0 auto;
  padding: 0 px-to-rem($container-gutters-default);

  @each $breakpoint-name, $gutter in $container-gutters {
    @include breakpoint($breakpoint-name) {
      padding: 0 px-to-rem($gutter);
    }
  }
}
