.grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

@function calc-width($column-size) {
  @return 100 / $grid-columns* $column-size * 1%;
}

.column {
  flex-grow: 1;
  flex-shrink: 1;
  padding: px-to-rem($grid-column-gap / 2);

  @for $column-size from 1 through $grid-columns {
    &--is-#{$column-size} {
      flex: none;
      width: calc-width($column-size);
    }

    &--is-offset-#{$column-size} {
      margin-left: calc-width($column-size);
    }
  }

  @each $breakpoint-name, $breakpoint in $breakpoints {
    @for $column-size from 1 through $grid-columns {
      @include breakpoint($breakpoint-name) {
        &--is-#{$column-size}-#{$breakpoint-name} {
          flex: none;
          width: calc-width($column-size);
        }

        &--is-offset-#{$column-size}-#{$breakpoint-name} {
          margin-left: calc-width($column-size);
        }
      }
    }
  }
}
