.grid {
  display: flex;
  width: 100%;
}

.column {
  padding: px-to-rem($grid-column-gap / 2);

  @for $column-size from 1 through 12 {
    &--is-#{$column-size} {
      width: calc(100% / 12 * #{$column-size});
    }

    &--is-offset-#{$column-size} {
      margin-left: calc(100% / 12 * #{$column-size});
    }
  }

  @each $breakpoint-name, $breakpoint in $breakpoints {
    @for $column-size from 1 through 12 {
      @include breakpoint($breakpoint-name) {
        &--is-#{$column-size}-#{$breakpoint-name} {
          width: calc(100% / 12 * #{$column-size});
        }

        &--is-offset-#{$column-size}-#{$breakpoint-name} {
          margin-left: calc(100% / 12 * #{$column-size});
        }
      }
    }
  }
}
